{% extends "base_caregiver.html" %}

{% block content %}
	<div id="leftcol" class="col-md-7">
		<div id="add-new-container">
			<h1>New Patient</h1>
			<form>
				<div class="form-group">
					<input type="text" class="form-control" id="patient-name" placeholder="Patient Name">
				</div>
				<div class="form-group">	
					<textarea class="form-control" id="patient-info" placeholder="Patient Info"></textarea>
				</div>
				<a class="btn btn-default" href="dashboard">Submit</a>
			</form>
		</div>
	</div>
	<div id="rightcol" class="col-md-5">
		<h1>Appointment Times</h1>
	</div>
{% endblock %}