{% load staticfiles %}
<html>
	<head>
		<!-- CSS -->
		<link href="{% static 'css/general.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
		<link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css"></link>
		
		<!-- SCRIPTS -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	    <script src="{% static 'js/docs.min.js' %}"></script>
		<script src="{% static 'js/popup.js' %}"></script>
	    <script src="{% static 'js/node_modules/moment/moment.js' %}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function () {
				// var date = new Date();
				// var d = date.getDate();
				// var m = date.getMonth();
				// var y = date.getFullYear();
				
				$('#calendar').fullCalendar({
					// header: {
					// 	left: 'prev,next today',
					// 	center: 'title',
					// 	right: 'month,agendaWeek,agendaDay'
					// },
					// editable: true
				});
			});
		</script>
	    
	</head>
	<body>
	
		<div id='popup_overlay' class='overlay' style='z-index:20;display:none;'></div>
		<div class='pa f12 content_box' id='popup'>
			<div id='popup_header'></div>
			<div id='popup_content'></div>
			<div id='popup_footer'></div>
			
			<script>
			var popup = new Popup();
			</script>
		</div>

		
		<nav class="navbar navbar-default">
		  <div class="container-fluid divider_horizontal_bottom">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">LifeLearn</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="/therapist/dashboard">Dashboard </a></li>
		        <!-- if a patient is selected, show dropdown -->
		        <li><a href="/therapist/task/manage">Manage Tasks</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">(USER)</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div id="body">
			<div class="container-fluid">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>