{% extends "base_caregiver.html" %}

{% block content %}
	<div id="leftcol" class="col-md-7">
		<div id="appointments" class="row">
			<h3>Upcoming Appointments</h3>
			<ul class="list-group">
			  <li class="list-group-item"><a href="">Patient 1 - 5/27/2016</a></li>
			  <li class="list-group-item"><a href="">Patient 2 - 5/30/2016</a></li>
			  <li class="list-group-item"><a href="">Patient 3 - 6/12/2016</a></li>
			  <li class="list-group-item"><a href="">Patient 4 - 6/13/2016</a></li>
			  <li class="list-group-item"><a href="">Patient 5 - 6/18/2016</a></li>
			</ul>
		</div>
		<!-- <div id="calendar" class="row">
		</div> -->
	</div>
	<div id="rightcol" class="col-md-5">
		<div id="all-patients" class="row">
			<h3>Patients</h3>
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="Search">
			</div>
			<ul class="list-group">
				<li class="list-group-item"><a href="">Patient 1</a></li>
				<li class="list-group-item"><a href="">Patient 2</a></li>
				<li class="list-group-item"><a href="">Patient 3</a></li>
				<li class="list-group-item"><a href="">Patient 4</a></li>
				<li class="list-group-item"><a href="">Patient 5</a></li>
			</ul>
		</div>
		<div id="dashboard-buttons" class="row">
			<a class="btn btn-success" href="/therapist/patient/add">Add New Patient</a>
		</div>
	</div>
{% endblock %}