{% extends "base_caregiver.html" %}

{% block content %}
<div class="container-fluid" style="max-width:1650px">
	<div id="leftcol" class="col-md-7">
		<div id="appointments" class="row">
			<h3>Upcoming Appointments</h3>
			<ul class="list-group">
			  <li class="list-group-item"><a href="">Patient 1 - 5/27/2016</a></li>
			  <li class="list-group-item"><a href="">Patient 2 - 5/30/2016</a></li>
			  <li class="list-group-item"><a href="">Patient 3 - 6/12/2016</a></li>
			  <li class="list-group-item"><a href="">Patient 4 - 6/13/2016</a></li>
			  <li class="list-group-item"><a href="">Patient 5 - 6/18/2016</a></li>
			</ul>
		</div>
		<!-- <div id="calendar" class="row">
		</div> -->
	</div>
	<div id="rightcol" class="col-md-5">
		<div id="all-patients" class="row">
			<h3>Patients</h3>

			{% if not patients %}
			You have no patients.<br/><br/>
			{% else %}
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="Search">
			</div>
			<ul class="list-group">
				{% for p in patients %}
				<li class="list-group-item"><a href="patient/{{p.id}}">{{p.last_name}}, {{p.first_name}}</a></li>
				{% endfor %}
			</ul>
			{% endif %}

		</div>
		<div id="dashboard-buttons" class="row">
			<a class="btn btn-success" href="/therapist/patient/add">Add New Patient</a>
		</div>
	</div>
</div>
{% endblock %}