{% extends "base_patient.html" %}

{% block content %}
</br>
<div class="container">
	<button type="button" class="btn btn-primary btn-lg btn-block">Complete next task</button>
</div>
	<div id="leftcol" class="col-md-7">
		<div id="tasks" class="row">
			<h3>Tasks</h3>
			<ul class="list-group">
			  <li class="list-group-item"><a href="">Task 1</a></li>
			  <li class="list-group-item"><a href="">Task 2</a></li>
			  <li class="list-group-item"><a href="">Task 3</a></li>
			  <li class="list-group-item"><a href="">Task 4</a></li>
			  <li class="list-group-item"><a href="">Task 5</a></li>
			</ul>
		</div>
		<!-- <div id="calendar" class="row">
		</div> -->
		<div id="progress" class="row">
			<h3>My Progress</h3>
			<ul class="list-group">
			  <li class="list-group-item">Number of tasks remaining: </li>
			  <li class="list-group-item">Last task completed: </li>
			  <li class="list-group-item">Best task: </li>
			  <li class="list-group-item">Worst task: </li>
		</div>
	</div>
	<div id="rightcol" class="col-md-5">
		<div id="reminders" class="row">
			<h3>Reminders</h3>
			<ul class="list-group">
			  <li class="list-group-item"><a href="">Reminder 1</a></li>
			  <li class="list-group-item"><a href="">Reminder 2</a></li>
			  <li class="list-group-item"><a href="">Reminder 3</a></li>
			  <li class="list-group-item"><a href="">Reminder 4</a></li>
			  <li class="list-group-item"><a href="">Reminder 5</a></li>
			</ul>
		</div>
	</div>
{% endblock %}