{% extends "base_caregiver.html" %}

{% block content %}
	<div id="leftcol" class="col-md-7">
		<div id="appointments" class="row">
			<h3>Progress</h3>
			<ul class="list-group">
			  <li class="list-group-item">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
		<div id="dashboard-buttons" class="row">
			<a class="btn btn-success" href="#">Assign New Task</a>
		</div>
		<!-- <div id="calendar" class="row">
		</div> -->
	</div>
	<div id="rightcol" class="col-md-5">
		<h3>(Patient name)</h3>
		<div id="dashboard-buttons" class="row">
			<a class="btn btn-success" href="#">Edit Patient Information</a>
		</div>
		<div id="all-patients" class="row">
			<ul class="list-group">
			  <li class="list-group-item active">
			  	<div id="patient-info">
			  		Patient Info
			  	</div>
			  </li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
	</div>
{% endblock %}